version: '3.8'

services:
  db:
    image: mariadb:10.6
    restart: always
    environment:
      MYSQL_DATABASE: online_wahlen
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "3306:3306"

  web:
    image: php:8.1-apache
    restart: always
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      DB_HOST: db
    depends_on:
      - db
    entrypoint:
      - sh
      - -c
      - |
        if ! php -m | grep -q mysqli; then docker-php-ext-install mysqli; fi &&
        apache2-foreground
