*{
    padding: 0%;
    margin: 0%;
	color: black;
	
}


/*-------------------------Layer 1--------------------------------------------*/



.layer1 {
	width: 100%;
	height: 40px;
	background-color: rgb(246,246,246);
	position: absolute;

}

.headbar_link{
	position: relative;
	font-size: 1em;
	text-align: right;
	margin-right: 5%;
	margin-top: 10px;
	justify-content:center;

		
}

a{
    margin-left: 20px;
}

.headbar_img_leicht{
	position: absolute;
	right: 110px;
	bottom: -8px;
}

.headbar_img_gebärden{
	position: absolute;
	right: 115px;
	bottom: -8px;
}


/*-------------------------Layer 2-----------------------------------------*/

.layer2{

	width: 100%;
	height: 135px;
	bottom: 12px;
	font-size: 1.65em;
	background-color: white;
	
}

.img{
	
	position: absolute;
	width: 70px;
	height: 60px;
	right: 270px;
	bottom: -15px;
	background-image: url(IMG_0030.jpeg);
	background-size:cover ;
	
}


.title{
	position: absolute;
	margin-left: 160px;
	margin-top: 75px;
}

/*------------------------Layer 3-----------------------------------------*/

.layer3{
	width: 100%;
	height: 60px;
	background-color: rgb(246,246,246);
	margin-bottom: 4px;
}


.startseite{
	position: relative;
	font-weight: bold;
	top: 20px;
	margin-left: 30px;
	
}
.startseite:hover{
	text-decoration: underline;
}

/*----------Underline animation-----------*/
.hover-underline-animation {
  display: inline-block;
  position: relative;

  

 
}					/*übernommen und abgeändert aus https://www.30secondsofcode.org/css/s/hover-underline-animation*/

.hover-underline-animation::after {
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  top: 28px;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.layer4{
	width: 100%;
	height: 120px;
	
	
}

.ueberschrift{
	text-align: center;
	margin-top: 30px;
	font-size: 1.5em;
	font-weight: bold;
}

.wahlkreis{
	margin-left: auto;
    margin-right: auto;
    width: 14em
}

/*.      grid-template.    */


.layer5{
	display: table;
	margin: 0 auto;	
}

/*https://stackoverflow.com/questions/114543/how-can-i-horizontally-center-an-element*/

.stimmen{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.stimmen_img{
	position: relative;
	bottom: 32px;
	left: 190px;
}

.pfeil_img{
	display: table;
	margin: 0 auto;	
	position: relative;
	bottom: 40px;
}

@media only screen and (max-width: 980px ){
	.pfeil_img{
		display: none;
	}
	
}

.hier_black{
	position: relative;
	font-size: 1.8em;
	font-weight: bold;
	bottom: 40px;
}

.wahl_black{
	position: relative;
	font-size: 1.2em;
	left: 70px;
	bottom: 35px;
}

.abgeordneter{
	position: relative;
	font-size: 1.8em;
	font-weight: bold;
	bottom: 40px;
	right: 260px;
}

.hier_blau{
	position: relative;
	font-size: 1.8em;
	font-weight: bold;
	bottom: 130px;
	left: 250px;
	color: rgb(38,89,152);
}

.wahl_blau{
	position: relative;
	font-size: 1.2em;
	bottom: 130px;
	left: 250px;
	color: rgb(38,89,152);
}

.landesliste{
	position: relative;
	font-size: 1.8em;
	font-weight: bold;
	bottom: 130px;
	left: 250px;
	color: rgb(38,89,152);
}

.verteilung{
	position: relative;
	font-size: 1.2em;
	bottom: 130px;
	left: 250px;
	color: rgb(38,89,152)
}


.layer6{
	background-color: rgb(246,246,246);

	
	
}



@media only screen and (min-width: 980px ){
	.layer6{
		display: inline-flex;
		width: 100%;
		justify-content:space-evenly;
		position: relative;
		bottom: 100px;
	}
	
}

@media only screen and (max-width: 980px ){
	.zweitstimme{
		margin-top: 50px;
	}
	.infos{
		display: none;
	}
}
.erstsimme_schrift{
	position: relative;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-left: 350px;
}

.zweitstimme_schrift{
	position: relative;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-left: 350px;
	color: rgb(38,89,152);
}

table {
		display: table;
		margin: 0 auto
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
	background-color: white;
  }
  th, td {
	  height: 130px;;
}

td:first-child{
	width: 25px;
}

 td button {
	background-color: white;
    padding: 20px;
    border-radius: 50%;
	border: 2px solid black;
    
}

.button{
	position: relative;
	left: 3px;
}

td:nth-child(2n){
	width: 400px;
}

td:nth-child(3n){
	width: 50px;
}
.number{
	font-weight: bold;
	position: relative;
	font-size: 1.5em;
	left: 11px;
	bottom: 30px;
}

.number_2{
	font-weight: bold;
	position: relative;
	font-size: 1.5em;
	
	bottom: 30px;
}

.name_bold{
	position: relative;
	left: 10px;
	font-size: 1.4em;
}

.beschreibung{
	position: relative;
	left: 10px;
	font-size: 0.9em;
	
}

.grenze{
	height: 110px;
}

.erst_partei{
	position: relative;
	font-size: 1.4em;
	font-weight: bold;
	left: 210px;
	bottom: 30px;
}

.partei_name{
	position: relative;
	left: 210px;
	bottom: 30px;
	
}

/*layer 7*/


.hilfe{
	position: relative;
	top: 30px;
	margin-left: 10px;
	font-weight: bold;
}


.deutscher_bundestag{
	position: relative;
	top: 80px;
	margin-left: 30px;
}


.impressum{
	position: relative;
	text-align: right;
	margin-right: 20px;
	margin-top: 40px;
}

.impressum:hover > a{
	text-decoration: underline;
}


#wahl_img1{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#wahl_img2{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#wahl_img3{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#wahl_img4{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#wahl_img5{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#wahl_img6{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}#wahl_img7{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#wahl_img8{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#wahl_img9{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#wahl_img10{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
	
}
/*-------------------zweitwahl_img-------------------*/

#zweit_wahl_img1{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img2{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img2{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img3{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img4{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#zweit_wahl_img5{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#zweit_wahl_img6{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}
#zweit_wahl_img7{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img8{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img9{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img10{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img11{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img12{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img13{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img14{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img15{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img16{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img17{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img18{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img19{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img20{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img21{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img22{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img22{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img23{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img24{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img25{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}

#zweit_wahl_img26{
	display: none;
	position: absolute;
	right: 5px;
	top: 0px;
}



/*ZWEITSTIMME*/

.zweitstimme  td{
    border: 2px solid rgb(38,89,152);
    border-collapse: collapse;
	background-color: white;
}

.zweitstimme td > .number{
	color: rgb(38,89,152);
}

.zweitstimme td > .number_2{
	color: rgb(38,89,152);
}


.zweit_partei{
	position: relative;
	color: rgb(38,89,152);
	font-size: 1.6em;
	font-weight: bold;
	left: 10px;
	top: 40px;
}

.zweit_partei_lang{
	position: relative;
	color: rgb(38,89,152);
	font-size: 1.6em;
	font-weight: bold;
	left: 10px;
	top: 20px;
}

.zweit_partei_länger{
	position: relative;
	color: rgb(38,89,152);
	font-size: 1.6em;
	font-weight: bold;
	left: 10px;
	top: 10px;

}

.zweit_name{
	position: relative;
	color: rgb(38,89,152);
	font-weight: bold;
	left: 150px;
	bottom: 28px;
	font-size: 1.1em;
}

.zweit_name_lang{
	position: relative;
	color: rgb(38,89,152);
	font-weight: bold;
	left: 150px;
	bottom: 60px;
	font-size: 1.1em;
}


.zweit_name_länger{
	color: rgb(38,89,152);
	position: relative;
	font-weight: bold;
	left: 150px;
	bottom: 90px;
	font-size: 1.1em;
}



.zweit_politiker{
	position: relative;
	color: rgb(38,89,152);
	font-weight: bold;
	left: 150px;
	bottom: 18px;
	font-size: 0.9em;
}

.zweit_politiker_lang{
	position: relative;
	color: rgb(38,89,152);
	font-weight: bold;
	left: 150px;
	bottom: 40px;
	font-size: 0.9em;
}

.zweit_politiker_länger{
	position: relative;
	color: rgb(38,89,152);
	font-weight: bold;
	left: 150px;
	bottom: 80px;
	font-size: 0.9em;
}

#bestätigungs_button{
	width: 120px;
	height: 50px;
	background-color: rgb(50,108,180);
	color: white;
	font-size: 1.2em;
	border-radius: 30px;
	position: relative;
	left: 360px;
	top: 60px;

}



.charts{
	display: flex;
	justify-content: center;
}

#piechart1{
	position: relative;
	min-height: 700px;
	min-width: 800px;
	left: 100px;
}

#piechart2{
	position: relative;
	min-height: 700px;
	min-width: 800px;
	right: 150px;


}

@media only screen and (max-width: 1180px ){
	.charts{
		display: block;
	}
	#piechart1{
		left:0px;
	}
	#piechart2{
		right:0px;
	}
	
}